
.hidden {
    display: none;
}
/*clearfix*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.mod-tree__tree {
    float: left;
    width: 39%;
    box-sizing: border-box;
}

.mod-tree__content {
    float: right;
    width: 59%;
    padding: 1%;
    box-sizing: border-box;

}

.mod-tree__item {
    list-style-type: none;
    margin-left: 18px;
}

.mod-tree__item:last-child {

}

.mod-tree__item-title {
    border: 1px solid #ffffff;
}
.mod-tree__item-title.active {
    border: 1px solid #137899;
}
.mod-tree__list {
    padding: 0 10px 0 0 ;
}
.mod-tree__item-icon {
    float:left;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: 1px 1px;
}

.mod-tree__item-icon.open {
    background-image: url(/assets/components/modtree/img/arrow_expanded.png);
}
.mod-tree__item-icon.open:hover {
    border-color: rgba(0, 126, 161, 0.34);
}

.mod-tree__item-icon.closed,
.mod-tree__item-icon.promised {
    background-image: url(/assets/components/modtree/img/arrow_right.png);
}
.mod-tree__item-icon.closed:hover {
    border-color: rgba(0, 126, 161, 0.34);
}
.mod-tree__item-icon.promised:hover {
    border-color: rgba(0, 126, 161, 0.34);
}

.mod-tree__item-icon.leaf  {
    background-image: url(/assets/components/modtree/img/document.gif);
}

.mod-tree__item-icon.loading {
    background: none;
}

.mod-tree__item-title {
    padding-left: 28px;
    cursor: pointer;
}

.mod-tree__item-content {
    margin-left: 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s cubic-bezier(0,1,0,.95);
}

.mod-tree__item.open > .mod-tree__item-content {
    max-height: 9999px;
    transition: max-height 0.4s cubic-bezier(1,.05,1,0);
}

.mod-tree__panel {
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    min-height: 120px;
    margin-bottom: 15px;
}
.mod-tree__search-fields-group {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
.mod-tree__seach-fields {
    padding: 0;
}
.mod-tree__search-fields-item {
    list-style-type: none;
}
.mod-tree_seach-buttons {
    text-align: center;
    margin-bottom: 10px;
}
.mod-tree_seach-button {
    width: 120px;
    padding: 5px;
}

.mod-tree__search-fields-item-field {
    width: 100%;
    height: 25px;
}
.mod-tree__paginate {
    margin: 10px;
}
.mod-tree__paginate-button {
    cursor: pointer;
}
.mod-tree__paginate-button.current {
    cursor: default;
}

.mod-tree__search-result {
    margin: 0 10px 10px 10px;
    font-size: 14px;
}

.mod-tree__run-search {
    font-size: 16px;

}
.mod-tree_item-icon-preloader {
    vertical-align: top;
    margin-top: 2px;
    margin-left: 2px;
}

@media (max-width: 767px) {

    .mod-tree__tree,
    .mod-tree__content{
        float: none;
        width: 100%;
    }

}



